[Unit]
Description=Gunicorn instance to serve web_dynamic/2-hbnb.py
After=network.target

[Service]
User=ubuntu
Group=ubuntu
WorkingDirectory=AirBnB_clone_v4/web_dynamic
ExecStart=/usr/local/bin/gunicorn -w 3 -b 0.0.0.0:5003 2-hbnb:app
StandardOutput=file:/tmp/airbnb-access.log
StandardError=file:/tmp/airbnb-error.log
Restart=always

[Install]
WantedBy=multi-user.target
